@import '~nativescript-theme-core/css/core.light.css';

.slider {
  height: 250;
  background-color: none;
}
#heightSlider {
  margin-top: 30;
}

#leftArrow {
  transform: rotate(270deg);
}
#rightArrow {
  transform: rotate(90deg);
}
#backArrow {
  transform: rotate(180deg);
}


